# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.idea/
.vscode/
venv/
.env/
*.env

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# 依存関係の管理に使うファイル
*.egg-info/
dist/
build/

# IDE固有の設定ファイル
.idea/
.vscode/

# OS固有のファイル
.DS_Store
Thumbs.db